@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

body{
  
  background: linear-gradient(to right, #ba5090, #846bb6);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  justify-content: center;
  margin: 0;
}




/*INICIO DE TOPMENU*/

a{
  color: rgb(207, 206, 206);
  text-decoration: none;
}

h6{
  color:rgb(196, 195, 195);
  font-weight: 300;
  margin: 0;
  padding: 18px 0;
}

span{
  color:rgb(104, 103, 103);
  font-weight: 700;
}

#container{
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.397);
  height: auto;
  margin: 60px auto 60px auto;
  width: 80%;
}

.top-menu{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: space-evenly;
  padding: 0 50px;
}

.logo{
  height: 58px;
  margin-right: 20px;
  padding-top: 30px;
}

.order-info{
  display: flex;
  margin-left: 100px;
  flex-direction: row;
  height: 85px;
  justify-content: space-around;
}

.location{
  position: relative;
  width: 290px;
}

.address{
  display: flex;
  flex-direction: row;
}

.fa-map-marker-alt{
  box-sizing: border-box;
  color:rgb(196, 195, 195);
  font-size: 15px;
  height: 48px;
  padding: 17px 5px 0 0;
}

.fa-pencil-alt{
  box-sizing: border-box;
  color:rgb(104, 103, 103);
  cursor: pointer;
  font-size: 11px;
  padding: 17px 0 0 5px;
}

#search-text-input{
  border: 1px solid rgb(238, 237, 237);
  border-radius: 15px;
  box-sizing: border-box;
  height: 35px;
  margin: 0;
  padding-left: 15px;
  width: 100%;
}
  

::placeholder{
  color: rgb(206, 204, 204);
  font-size: 12px;
}

.button-holder{
  left: 255px;
  position: absolute;
  top:59px;
}

.fa-search{
  color: rgb(196, 195, 195);
  cursor: pointer;
}

.top-dishes{
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0 16px 0 10px;
  position: relative;
  width: 100px;
}

.dish{
  cursor: pointer;
  height: 65px;
  position: absolute;
}

.dish.one{
  top: 25px;
  z-index: 5;
}
.dish.second{
  top: 18px;
  z-index: 2;
}

.dish.third{
  top: 10px;
  z-index: 1;
}

.order{
  background: white;
  border-bottom-left-radius:  15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  height: 85px;
  width: 210px;
}

.order-detail{
  background: #3b3c55;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(187, 185, 185);
  height: 28px;
  box-sizing: border-box;
  padding-top: 6px;
}

.quantity{
  border-bottom: 0.5px dotted rgb(121, 120, 120);
  box-sizing: border-box;
  font-size: 11px;
  height: 15px;
  padding-top: 1px;
}

.price{
  font-size: 15px; 
}

.cart{
  font-size: 10.5px;
}

.fa-shopping-cart{
  box-sizing: border-box; 
  font-size: 14px;
  padding-right: 2px;
}

.order-button{
  background: linear-gradient(to right, #846bb6, #e33c6e );
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 12px;
  padding: 10px;
  width: 88%;
}

.order-button:hover{
  background: linear-gradient(to right, #6741b4, #e61050 );
}

/*FIN DE TOPMENU*/




/*INICIO DE INGREDIENTS*/

.ingredients {
  left: 5%;
  position: absolute;
  top: 5%;
}

.ingredients ul {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
  height: 140px;
  padding: 10px 0 0 20px;
  width: 50%;
}

.ingredients li {
  display: inline-block;
  list-style: none;
  padding: 20px 130px 20px 0;
  position: relative;
}

.ingredients img {
  width: 28px;
}

.ingredients p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  left: 45px;
  position: absolute;
  top: 20px;
}

.ingredients p span {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  position: absolute;
  top: -18px;
}

/*FIN DE INGREDIENTS*/


