@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

body{
  
}